userfakemockproject/src/main/mule/userfakemockproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="84a3545b-f795-4126-aeca-2f3e74db4faa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b41d2d8e-1a60-4121-a840-6616625f49bb">
		<http:request-connection host="jsonplaceholder.typicode.com"/>
	</http:request-config>
	<flow name="getUsersMock" doc:id="7224a981-ea74-4d87-8c51-534755655d76" >
		<http:listener doc:name="Listener" doc:id="afaad725-725d-4b56-b470-d00b8a71142c" config-ref="HTTP_Listener_config" path="/users" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="63b0b80c-9cf4-4e44-972f-8ef2a01ae07b" message="Ingresa al proyecto"/>
		<http:request method="GET" doc:name="Request" doc:id="c71fe4dd-55ad-41bf-9f32-c040a18cf26f" config-ref="HTTP_Request_configuration" url="http://jsonplaceholder.typicode.com/users" outputMimeType="application/json"/>
		<set-payload value='#[output application/json&#10;import * from dw::util::Coercions&#10;---&#10;{&#10;	"code": toString(attributes.statusCode),&#10;	"message": "Datos traidos con exito",&#10;	"data": payload&#10;}]' doc:name="Set Payload" doc:id="387b0529-4385-4c54-9de8-f43118175786" mimeType="application/json" encoding="UTF-8"/>
	</flow>
	<flow name="getUsersByIdMock" doc:id="01b1ae0b-99a4-42d7-899a-e7a64143905a" >
		<http:listener doc:name="Listener" doc:id="1d6d8121-1b9c-4f58-b8b3-0de92946f044" config-ref="HTTP_Listener_config" path="/users/{id}" allowedMethods="GET" outputMimeType="application/json"/>
		<set-variable value="#[attributes.uriParams.'id']" doc:name="Set Variable" doc:id="668e6149-2870-4382-9e13-adc59afa5845" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="edfd50cb-b9ad-4c04-945c-fa500a24649e" message="Ingresa al proyecto" />
		<http:request method="GET" doc:name="Request" doc:id="4835ee3e-ef08-4938-b897-a942ba72ceb5" config-ref="HTTP_Request_configuration" url="http://jsonplaceholder.typicode.com/users/{id}" outputMimeType="application/json">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.'id'
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="50b0496b-6139-45de-ab85-c195ba8e90e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.id,
	"code": attributes.statusCode,
	"message": "Ok",
	"data": payload
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
